@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($electric-blue, 30%);
    outline: 1px solid slategrey;
    border-radius: 10px;
  }
}

@mixin message {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: $cosmic-latte;
  width: 25rem;
  font-size: 2rem;
  background: $electric-blue;
  padding: 1rem;
  border-bottom: 3px solid $hot-pink;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background: darken($electric-blue, 20%);
    cursor: pointer;
  }
}

@mixin button {
  -webkit-text-size-adjust: 100%;
  color: inherit;
  background: $blue-munsell;
  border-radius: 5px;
  border-bottom: 5px solid darken($blue-munsell, 10%);
  width: 10rem;
  height: 3rem;
  vertical-align: middle;
  line-height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  user-select: none;
  cursor: pointer;
}
