@import "styles/variables";
@import "styles/mixins";
@import "addMessage/styles/addMessage";
@import "messages/styles/messages";
@import "message/styles/message";

body {
  background-color: $background-color;
  color: $cosmic-latte;
}

.normal-button {
  @include button;
}

.cancel-button {
  @include button;

  background: $hot-pink;
  border-bottom: 5px solid darken($hot-pink, 10%);
}

.nav-buttons {
  line-height: 1.15;
  color: $cosmic-latte;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.loader {
  border: 16px solid $cosmic-latte;
  border-top: 16px solid $blue-munsell;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
