.messages-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.massages-area {
  line-height: 1.15;
  color: $cosmic-latte;
  flex: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-message {
  @include message;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.regular-message {
  @include message;
}

.last-message {
  @include message;

  border-bottom: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.only-message {
  @include message;

  border-radius: 10px;
  border-bottom: none;
}
