.mesage-page {
  line-height: 1.15;
  color: #fff4e4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.individual-message {
  line-height: 1.15;
  color: #fff4e4;
  width: 30rem;
  height: 30rem;
  font-size: 2rem;
  background: darken($blue-munsell, 10%);
  padding: 10px;
  border-radius: 5px;
  overflow-x: hidden;
  word-break: break-all;

  @include scrollbar;
}
