.add-message-page {
  line-height: 1.15;
  color: $cosmic-latte;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

textarea {
  font-family: inherit;
  color: inherit;
  padding: 1rem;
  font-size: 2rem;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  width: 40rem;
  height: 20rem;
  resize: none;
  border-radius: 10px;
  background: $blue-munsell;
  border: 4px solid darken($blue-munsell, 10%);

  @include scrollbar;
}

textarea::placeholder {
  color: inherit;
}
